.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */
.bg-container {
  background-color: #f4faff;
  min-height: 100vh;
  min-width: 100vw;
  padding: 15px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto';
}
.main-heading {
  font-size: 45px;
  color: #171f46;
}
.description {
  font-size: 18px;
  color: #64748b;
  max-width: 50%;
}
.cards-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-item {
  margin: 15px;
  background-color: #ffffff;
  width: 300px;
  height: 260px;
  border-radius: 16px;
  padding: 20px;
}
.card-heading {
  font-size: 25px;
  color: #171f46;
}

.card-desc {
  font-size: 16px;
  color: #64748b;
}

.img-container {
  display: flex;
  justify-content: flex-end;
}
.image {
  width: 80px;
  height: 65px;
}
